/* _content/Banking.Component.Financial.Account.Reports/Component1.razor.rz.scp.css */
.my-component[b-c15wdt748r] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
