/* _content/Banking.Component.Transactions.Monitoring/Component1.razor.rz.scp.css */
.my-component[b-8ee97122o2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
