/* _content/Banking.Component.Investments/Component1.razor.rz.scp.css */
.my-component[b-lmj8wr9xvg] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
