/* _content/Banking.Component.Profitability/Component1.razor.rz.scp.css */
.my-component[b-2ry56iku99] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
